.chat-page {
  height: 100vh;
  display: flex;
  align-items: stretch;
  background: #e8e8ff;
}

.side-bar {
  min-width: 12rem;
  max-width: 15rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid gray;
}

.chats {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chats button {
  font-size: 18px;
  padding: 1rem;
  text-align: left;
  background: none;
  display: flex;
  flex-direction: column;
}

.chats button:hover {
  background: white;
  cursor: pointer;
}

.chats span {
  font-size: 12px;
  color: gray;
}

.chats .add-courses {
  font-size: 1rem;
  padding: 0;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background: none;
}

.chats .add-courses:hover {
  background: none;
  color: var(--accent);
}

.add-courses:hover svg {
  fill: var(--accent);
}

.logout {
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: white;
  background: var(--accent);
}

.logout:hover {
  cursor: pointer;
  background: #1a73e8;
}
