:root {
  --accent: #4285F4;
  --background: #b0dfe5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px dotted red; */
}

html {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img, svg {
  display: block;
}

button {
  font-family: 'Roboto';
}

main {
  height: 100vh;
  width: 100%;
}
